@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------ */
body {
  font-family: "Poppins", system-ui;
  background: #f5f5f5;
}
/* ------------------------------------ */

.banner {
  background-color: #277043;
  color: white;
}

.btn {
  background-color: #277043;
  color: white;
}

.statistics {
  background-color: #0a331a;
  border-top: 5px solid #2e6a45;
  border-bottom: 5px solid #2e6a45;
}

.statistics .child {
  background-color: white;
  width: 130px;
}

/* ---------- */
.body-mass-index {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/fruits.png");
  background-position: center;
  background-size: cover;
}

/* ---------- */
footer {
  background-color: #0a331a;
}
